body {
  margin: 0;
  background: url('./images/background2.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.photo-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro {
  width: 100%;
}

#start-button {
  position: absolute;
  width: 10em;
  height: 3em;
  font-size: 2em;
  cursor: pointer;
  top: 20px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: yellow;
  border: 2px solid greenyellow;
}

#start-button:hover {
  background-color: green;
}

.winning-message {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 10px;
}
.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

.health-container {
  display: flex;
  position: absolute;
  top: -15px;
  gap: 82em;
}

.hidden {
  display: none;
}
